.contact-item{
    display:flex;
    flex-direction:column;
    margin-top:10px;
    margin-left:10px;
    min-height:25px;
    border:1px solid white;
    background-color: rgb(50,50,220);
    color:white;
    padding-left:20px;
}